.container {
  width: 50%;
  margin: 10px auto;
}

.row {
  margin-top: 30px;
}

h1 {
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

form {
  padding: 10px;
  border: 2px solid #e6e6e6;
}

.tast-btn {

  margin-top: 10px;
  background-color: #ffffff !important;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  padding: 0;
  background-color: #e6e6e6;
  color: red;
  font-size: 20px;
  text-align: center;
  border-color: #f2f2f2;
}

img {
  width: 20px !important;

}

tbody tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
  margin-top: 5px;
  background-color: #fafafa;
  text-align: center;
  border-bottom-width: 2px;
}



tbody td {
  border: 0;

  box-shadow: none !important;
}

.panel-heading {
  padding: 0.5rem 0.5rem;
  background-color: #e6e6e6;

}

.panel {
  margin-top: 10px;
  border: 2px solid #e6e6e6;
}

.delete-form {
  padding: 0;
  border: 0;
}

/*Student*/
.two-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s-form {
  width: 60%;
}

.m-form {
  width: 35%;
}

/*Major*/
.major {
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.m-create {
  display: inline-block;
  margin-top: 20px;
}

.major-text {
  margin-top: 10%;
  margin-bottom: 20px;
}

/*Student*/
.create {
  padding: 5px 10px;
  background-color: #f2cfcf;
  color: #424242;
  text-decoration: none;
  border-radius: 5px;
}

.create:hover {
  background-color: #d5d0d0;
}

.student-form {
  width: 80%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.stu-group {
  margin-bottom: 10px;
}

.btn-act {
  width: 50px;
  padding: 7px 7px;
  font-size: 10px;
}

.edit-form {
  border: 0;
}

.stu-table th {
  width: 500px;
  text-align: center;
}

.stu-table tr {
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-bottom-width: 0;
}

.stu-table tbody tr:hover {
  background-color: #dad3d3;
}

.stu-table td {
  width: 500px;
  padding: 0;
}

.stu-table td:second-child {
  width: 250px;
}

.table-act form {
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
}

/*Edit*/
.edit {
  margin-top: 15%;
}

.edit-form {
  margin: 0 auto;
}

.text {
  width: 100%;
  margin-bottom: 10px;
  font-weight: 700;
}

.link {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.upload {
  margin-bottom: 10px;
}

.m-tbody tr {
  width: 97%;
}

.m-thead th {
  border-bottom-width: 0px;
}

.m-list {
  justify-content: space-between;
}

.import {
  padding: 0;
  border: 0;
}

.import input {
  margin-bottom: 0;
}

.btn-import {
  padding: 3px 10px;
  background-color: #f2cfcf;
  color: #424242;
  border-color: #f2cfcf;
  border-radius: 5px;
}

.port-link {
  align-items: center;
  width: 40%;
}

.creat-link {
  margin-top: 0;
  padding-bottom: 5x;
}

.created {
  justify-content: space-between;
  width: 360px;
}

.s-list {
  margin-top: 10px;
  margin-bottom: 10px;
}

.s-list div {
  margin-bottom: 0;
}

.list {
  width: 90%;
}

.list-table tbody tr:hover {
  background-color: #e0dada;
}

.list-table tbody td {
  width: 260px;

}

.list-table thead tr {
  padding-left: 10px;
}

.list-table tbody tr {
  width: 99%;
}

.s-title {
  margin-top: 10%;
}

.s-create {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 70px;
}

.select-form {
  margin-bottom: 10px;
}

.s-btn img {
  width: 13px !important;
}

.ma-edit {
  margin-top: 20%;
}

.pagination {
  margin-top: 10px;
}
nav{
  width: 200px;
  margin: 0 auto;
}
.r-link{
  padding: 5px 10px;
  background-color: #f2cfcf;
  color: #424242;
  border-color: #f2cfcf;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 10px;
}
.s-link{
  background-color: #f2cfcf;
  color: #424242;
  border-color: #f2cfcf;
  border-radius: 5px;
  margin-left: 10px;
}
.r-form{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.r-form input{
  width: 170px;
  margin-left: 30px;
}
.navbar{
  width: 100%;
}
.auth{
  border: 0;
}
.auth a{
  margin-top: 10px;
  width: 250px;
  background-color: #ffffff;
  border: 0;
  margin-left: 0;
}
.reset{
  border: 0;
}
.reset button{
  padding: 10px;
  width: 200px;
}
.email{
  border: 0;
}
.email button{
  display: inline-block;
  width: 300px;
  padding: 5px;
}