.container {
  width: 50%;
  margin: 10px auto;
}
.row{
  margin-top: 30px;
}
h1{
  text-align: center;
  padding-bottom: 10px;
  margin-top: 20px;
}
form {
  padding: 10px;
  border: 2px solid #e6e6e6;
}

.tast-btn {

  margin-top: 10px;
  background-color: #ffffff !important;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  padding: 0;
  background-color: #e6e6e6;
  color: red;
  font-size: 20px;
  text-align: center;
  border-color: #f2f2f2;
}

img {
  width: 20px !important;

}

tbody tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
  margin-top: 5px;
  background-color: #fafafa;
  text-align: center;
  border-bottom-width: 2px;
}



tbody td {
  border: 0;

  box-shadow: none !important;
}

.panel-heading {
  padding: 0.5rem 0.5rem;
  background-color: #e6e6e6;

}

.panel {
  margin-top: 10px;
  border: 2px solid #e6e6e6;
}

.delete-form {
  padding: 0;
  border: 0;
}
/*Student*/
.two-side{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s-form{
  width: 60%;
}
.m-form{
  width: 35%;
}
/*Major*/
.major{
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.m-create{
  margin-top: 20px;
  display: inline-block;
}
.major-text{
  margin-top: 20%;
  margin-bottom: 20px;
}
/*Student*/
.create{
  text-decoration: none;
  color: #424242;
  padding: 5px 10px;
  background-color: #f2cfcf;
  border-radius: 5px;
}
.create:hover{
  background-color: #d5d0d0;
}
.student-form{
  width: 80%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.stu-group{
  margin-bottom: 10px;
}
.btn-act{
  font-size: 10px;
  width: 50px;
  padding: 7px 7px;
}
.edit-form{
  border: 0;
}
.stu-table th{
  width: 500px;
  text-align: center;
}
.stu-table tr{
 display: inline-block;
 width: 100%;
 padding: 10px 0px;
  border-bottom-width: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.stu-table tbody tr:hover{
  background-color: #dad3d3;
}
.stu-table td{
  padding: 0;
  width: 500px;
}
.stu-table td:second-child{
  width: 250px;
}
.table-act form{
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
}
/*Edit*/
.edit{
  margin-top: 15%;
}
.edit-form{
  margin: 0 auto;
}
.text{
  width: 100%;
  margin-bottom: 10px;
  font-weight: 700;
}
.link{
  display: flex;
  justify-content: space-between;
}
.upload{
  margin-bottom: 10px;
}